body {
    margin: 0;
    padding: 0;

    font-family: "Roboto", "Arial", sans-serif;
    width: 1240px;  
    height: ;
}

*, *::before, *::after {
    box-sizing: border-box;
}

li {
    list-style-type: none;
}

.center {
    margin-left: 140px;
}

.input {
    padding: 5px;
    border: solid 1px #cfcfcf;
    border-radius: 2px;
    box-shadow: inset 0px 2px 1px 1px #C0C0C0;
}

.input:focus {
    outline: none;
}

.header {
    display: flex;
    background-color: #f4f4f4;
    box-shadow: 0px 4px 3px #C0C0C0;
}

.header__button {
    width: 80px;
    height: 30px;

    margin-top: 50px;
    margin-bottom: 25px;

    color: white;
    background-color: #0271c7;
    border-radius: 5%;
    border-style: none;
    box-shadow: 0px 3px 3px #C0C0C0;
}

.header__button:hover {
    background-color: #27a1ff;
}

.header__button:active {
    background-color: #c2e4fe;
}

.add-button {
    margin-left: 50px;
    margin-right: 8px;
}

.form__container {
    display: flex;
    margin: 50px 0px 25px 640px;
}

.form__container button {
    width: 15px;
    height: 15px;

    background-image: url(images/search-icon.svg);
    background-color: #f4f4f4;
    border: none;
    
    margin-top: 7px;
}

.search-icon {
    width: 10px;
    height: 10px;
}

.search {
    margin-left: 10px;
}

.search input {
    width: 220px;
}

.navigation {
    display: flex;
    margin: 20px 0px 20px 50px;
}

.switch-left, 
.switch-right {
    background-color: white;
    border: 2px solid #cfcfcf;
    border-radius: 3px;
    width: 20px;
    height: 20px;
    position: relative;
}

.switch-left:hover,
.switch-right:hover,
.today-button:hover,
.pop-up__button:hover {
    background-color: #6b6b6b;
    border-color: #505050;
    color: white;
    box-shadow: inset 0px 0px 2px 0px #6e6d6d;
}

.switch-left:active, 
.switch-right:active,
.today-button:active,
.pop-up__button:active {
    background-color: #cfcfcf;
    border-color: #cfcfcf;
    color: white;
    box-shadow: none;
}

.switch-left {
    margin-right: 10px;
}

.switch-right {
    margin-left: 10px;
}

.pointer-right,
.pointer-left {
    position: absolute;
    width: 8px;
    height: 8px;
    left: 4px;
    bottom: 4px;
}

.date {
    font-size: 20px;
    color: #292929;
}

.today-button {
    background-color: white;
    color: #292929;
    border: 2px solid #cfcfcf;
    border-radius: 3px;
    width: 80px;
    height: 20px;
    margin-left: 10px;
    box-shadow: inset 0px 0px 2px 0px #bbb9b9;
}

.grid-container {
    display: grid;
    grid-template-columns: 150px 150px 150px 150px 150px 150px 150px;
    grid-auto-rows: 150px 150px 150px 150px 150px 150px 150px;

    margin-left: 50px;
}

.grid-item {
    border: 1px solid #e7e5e5;
    border-radius: 2px;
    color: #6b6b6b;
    padding: 10px;
}

.grid-item:hover {
    background-color: #27a1ff;
    color: #151515;
}

.grid-item:active {
    background-color: #c2e4fe;
    box-shadow: 0px 0px 6px 0px #27a1ff;
    box-shadow: ;
    border-color: rgb(88, 226, 244);
}

.pop-up,
.pop-up2,
.pop-up3 {
    padding: 25px;
    width: 360px;
    border: 2px solid #d3cdcd;
    border-radius: 2px;
    box-shadow: 0px 0px 6px 0px;
    position: relative;
    margin: auto;
    z-index: 2;
}

.pop-up__close {
    position: absolute;
    top: 1px;
    right: 6px;
    cursor: pointer;
}

.add-event {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.add-event input,
.add-event2 input,
.pop-up__description input {
    width: 300px;
    margin-bottom: 5px;
}

.add-event input:last-child {
    margin-top: 30px;
    height: 140px;
}

.pop-up__button {
    margin: 20px 5px 30px 0px;
    border-radius: 5px;
    border: 2px solid #d3cdcd;
}

.done-button {
    margin-left: 3px;
}

.pop-up2 {
    height: 125px;
}

.pop-up2 .active {
    display: block;
}

.pop-up3 {
    max-height: 360px;
}

.pop-up3 h3 {
    margin: 0px;
}

.participans {
    color:#8b8484;
    font-size: 13px;
    font-weight: bold;
}

.pop-up__description input {
    height: 140px;
}

.search__pop-up {
    width: 260px;
    border: 2px solid #d3cdcd;
    border-radius: 2px;
    box-shadow: 0px 0px 6px 0px;
    margin: auto;
    color: #292929;
    z-index: 2;
}

.search__item {
    border-bottom: 1px solid rgb(229, 226, 226);
}

.search__item:last-child {
    border: none;
}

.search__item h4 {
    margin-top: 5px;
}

.search__item p{
    color: #292929;
    font-size: 14px;
    margin-bottom: 5px;
}