body {
    margin: 0;
    padding: 0;

    font-family: ;
    width: 1240px;
    height: ;
}

*, *::before, *::after {
    box-sizing: border-box;
}

.center {
    margin-left: 140px;
}

.input {
    padding: 5px;
    border: solid 1px #bdb6b6;
    border-radius: 2px;
    box-shadow: inset 0px 2px 1px 1px #C0C0C0;
}

.header {
    display: flex;
    background-color: #e0e6e6;
    box-shadow: 0px 4px 3px #C0C0C0;
}

.header__button {
    width: 80px;
    height: 30px;

    margin-top: 50px;
    margin-bottom: 25px;

    color: white;
    background-color: rgb(10, 75, 160);
    border-radius: 5%;
    border-style: none;
    box-shadow: 0px 3px 3px #C0C0C0;
}

.button-add {
    margin-left: 50px;
    margin-right: 8px;
}

.form__container {
    display: flex;
    margin: 50px 0px 25px 640px;
}

.form__container button {
    width: 15px;
    height: 15px;

    background-image: url(images/search-icon.svg);
    background-color: #e0e6e6;
    border: none;
    
    margin-top: 7px;
}

.search-icon {
    width: 10px;
    height: 10px;
}

.search {
    margin-left: 10px;
}

.search__input {
    width: 220px;
}

.navigation {
    display: flex;
    margin: 20px 0px 20px 50px;
}

.switch-left, 
.switch-right {
    background-color: white;
    border: 2px solid #e7e5e5;
    border-radius: 3px;
    width: 20px;
    height: 20px;
    position: relative;
}

.switch-left {
    margin-right: 10px;
}

.switch-right {
    margin-left: 10px;
}

.pointer-right,
.pointer-left {
    position: absolute;
    width: 8px;
    height: 8px;
    left: 4px;
    bottom: 4px;
}

.date {
    font-size: 20px;
}

.today-button {
    background-color: white;
    color: #464343;
    border: 2px solid #e7e5e5;
    border-radius: 3px;
    width: 80px;
    height: 20px;
    margin-left: 10px;
}

.grid-container {
    display: grid;
    grid-template-columns: 150px 150px 150px 150px 150px 150px 150px;
    grid-auto-rows: 150px 150px 150px 150px 150px 150px 150px;

    margin-left: 50px;
}

.grid-item {
    border: 1px solid #e7e5e5;
    border-radius: 2px;
    color: #8b8484;
    padding: 10px;
}

.grid-item:hover {
    background-color: #f2efef;
    color: #151515;
}

.grid-item:active {
    background-color: rgb(217, 241, 253);
    border-color: rgb(88, 226, 244);
}

.pop-up,
.pop-up2 {
    width: 360px;
    border: 2px solid #d3cdcd;
    border-radius: 2px;
    box-shadow: 0px 0px 6px 0px;
}

.add-event {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.add-event input,
.add-event2 input {
    width: 300px;
    margin-bottom: 5px;
}

.add-event input:first-child {
    margin-top: 25px;
}

.add-event input:last-child {
    margin-top: 30px;
    height: 140px;
}

.pop-up__button {
    margin: 20px 5px 30px 0px;
    border-radius: 5px;
    border: 2px solid #d3cdcd;
}

.done-button {
    margin-left: 28px;
}

.pop-up2 {
    padding: 25px;
    height: 125px;
}
